body {
  margin: 0;
  padding: 0;
}

#form-name {
  width: 300px;
  margin: 0 auto;
}

.message,
.message-self {
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 10px;
}

.message p,
.message-self p {
  margin: 0;
}

.message-self {
  background-color: rgb(217, 221, 255);
  text-align: right;
}

#participants-list {
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 10px;
}