doctype 5
html
   head
      title SimbaChat
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      script(src="theme/js/bootstrap.min.js")
      link(rel='stylesheet', href='theme/css/bootstrap.min.css')
      link(rel='stylesheet', href='theme/css/simba.css')

   body
      div.container
         header
            h1 Simba
         form#form-name
            h2.form-signin-heading Who are you?
            input(type='text')#input-name.form-control
            button.btn.btn-lg.btn-primary.btn-block#submit Enter
         div.row
            div.col-xs-12.col-md-12#chat-history
         div.row
            div.col-xs-12#chat-footer
               form#form-chat
                  div.input-group
                     input(type="text", placeholder="Say something useful for a change").form-control#input-message
                     span.input-group-btn
                        button(type="submit").btn.btn-default#input-message-submit Send

      script(src="client.js")
